{{! It is very important that the Pre tag is on the same line with no spaces as the following content.
    If the "monospace" option is checked, jira does a terrible job of applying it if there is whitespace }}
{{commentWrapPre}}{{#descriptionLine}}
{{.}}
{{/descriptionLine}}{{commentWrapPost}}

{{#diffUrl}}
Changes: {{diffUrl}}
{{/diffUrl}}
{{#diffRestUrl}}
Patch: {{diffRestUrl}}
{{/diffRestUrl}}
{{#branches}}Branch(es): {{branches}}{{/branches}} {{#bookmarks}}Bookmark(s): {{bookmarks}}{{/bookmarks}}
